div.index_header{
	width: 100%;
}

a.header_nav_button{
	display: none;
	float: right;
	margin-top: 15px;
}
div.header_nav{
	height: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
ul.header_nav_bar{
	list-style: none;
    float: right;
    line-height: 50px;
}
ul.header_nav_bar li{
    float: left;
    padding: 0 10px;
}
ul.header_nav_bar li a{

}

#toggle {
    float: left;
    display: none;
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
    width: 28px;
    height: 30px;
    padding: 2px 4px;
    background-color: rgb(230,230,250);
    opacity: 0.9;
  /*width: 28px;*/
  /*height: 30px;*/
  /*margin: 10px auto;*/
}
#toggle div {
  /*width: 100%;*/
  height: 5px;
  margin-top: 5px;
  background: black;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

/*========= media ============*/
@media screen and (max-width: 768px){
    div.index_header {
        padding: 10px 0px;
        height: 50px;
        overflow: hidden;
    }
    #toggle{
        display: block;
    }
    a.header_nav_button {
        display: block;
    }
    ul.header_nav_bar {
        margin-top: 15px;
        border-top: solid 5px #111;
        width:100%;
        padding-inline-start: 0px;
    }
    ul.header_nav_bar li {
        float: none;
        padding: 0 10px;
        opacity:0.8;
        background-color: rgb(230,230,250);
          width: 100%;
    }
    ul.header_nav_bar li a{
      width: 100%;
      font-size: 20px;
      display:inline-block;
    }

}