ol.header_list{
	display: inline-block;
	list-style: none;
	padding-inline-start:0px;
}
ol.header_list li{
	display: inline;
}

a.header_pages_title{
	color: rgb(240, 240, 240);
	font-size: 25px;
	margin: 0 10px;
}


.headother{
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	background-color: #2c2a2a;
}
